$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);
$Soft-Blue: #5368df;
$Soft-Red: hsl(0, 94%, 66%);

body{
  margin: 0;
  padding: 0;
  font-family: "Rubik",sans-serif;
  *{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;

  }
  .container{
    width: 90%;
    margin: 1rem auto;
  }
  nav{
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .nav__items{
      display: none;
    }
    .open__nav{
      cursor: pointer;
      i{
        font-size: 1.4rem;
      }
    }
  }
  .first__section{
    display:grid;
    .image__svg{
      position: relative;
      .image{
        position: absolute;
        top: 2rem;
        width: 80vw;
        height: 50vh;
        border-radius: .6rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .simple{
      display: grid;
      gap: 2rem;
      h2{
        letter-spacing: 2px;
        font-size: 2rem;
        font-weight: 400;
        color: $Very-Dark-Blue;
        text-align: center;
      }
      p{
        text-align: center;
      color: $Grayish-Blue;
  }
  .btn{
    display: flex;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
    .chrome{
      background-color: $Soft-Blue;
      color: white;
      &:hover{
        background: transparent;
        border: 2px solid $Soft-Blue;
        color: $Soft-Blue;
      }
    }
    .firefox{
      background-color: rgb(244, 243, 246);
      &:hover{
        border: 2px solid  rgb(44, 44, 44);
      }
    }
    div{
      border-radius: .3rem;
      padding: 1rem 3rem;
      align-items: center;
      box-shadow: 0 0 .3rem rgb(83, 104, 223, 0.5);
    }
  }
}
  }
  .second__section{
    display: grid;
    gap: 2rem;
    .top{
      text-align: center;
    margin-top: 5rem;
    h2{
      color: $Very-Dark-Blue;
    }
    p{
     margin-top: 1rem;
      color: $Grayish-Blue;
    }
    }
    .bottom{
      .heading{
       text-align: center;
     div{
      padding: 1.5rem;
      color: $Grayish-Blue;
     border-bottom: 1px solid $Grayish-Blue;
     cursor: pointer;
     position: relative;
     &:hover{
      color: $Soft-Red;
     }
     &.active{
      color:$Very-Dark-Blue;
      &::after{
      content: "";
      position: absolute;
      color: black;
      bottom: 0;
      left: 38%;
      right: 38%;
      background: $Soft-Red;
      height: .2rem;
     }}
      &:first-child{
        border-top: 1px solid $Grayish-Blue;
      }
     }
      }
      .details{display: grid;
        &:last-child{
          display:none;
        }
        &:nth-child(3){
          display:none;
        }
        .image__svg{
         margin-top: 4rem;
          position: relative;
          .image{
            position: absolute;
            width: 65vw;
            top: -.6rem;
            left: 2rem;
            img{
              width: 100%;
            }
          }
          .svg{
            position: absolute;
            z-index: -1;
            left: -1.5rem;
          }
        }
        .bookmark{
          margin-top: 70%;
          h2{
           text-align: center;
           color: $Very-Dark-Blue;
          }
          p{
            margin-top: 1rem;
            text-align: center;
            color: $Grayish-Blue;
          }
          .more__info{
            display: none;
          }
        }
      }
    }
  }
  .download{
  width: 70%;
  margin: 1rem auto;
  }
  .third__section{
    margin-top: 5rem;
    display: grid;
  gap: 2rem;
    .top{
      text-align: center;
      h2{
        color: $Very-Dark-Blue;      
      }
      p{
        margin-top: 1rem;
        color: $Grayish-Blue;
      }
    }
    .bottom{
      display: grid;
      gap: 2rem;
      article{
        box-shadow: 0 .2rem .5rem rgb(83, 104, 223, 0.5);
        border-radius: .4rem;
        &:hover{
          box-shadow: none;
        }
        .top{
          padding: 2rem;
       h4{
        margin-top: 2rem;
        color: $Very-Dark-Blue;
       }
        }
        .bottom{
          border-top: .5rem dotted $Grayish-Blue;
          margin-top: 2rem;
          padding: 1rem 2rem 2rem;
          .add{
            margin-top: 2rem;
            padding: 1rem;
            background: $Soft-Blue;
            border-radius:.4rem;
            text-align: center;
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
             border: .1rem solid $Soft-Blue;
              background: transparent;
              a{
                color: $Soft-Blue;
              }
            }
            a{
          color: white;
            }
          }
        }
      }
    }
  }
  .forth__section{
    display: grid;
    margin-top: 5rem;
    place-items: center;
    .top{
     h2{
      font-weight: 400;
      font-size: 2.5rem;
      color: $Very-Dark-Blue;
      text-align: center;
     }
     p{
     color: $Grayish-Blue;
    margin-top: 1rem;
    text-align: center;
    
     }
    }
    .bottom{
      .faq{
        border-bottom: 1px solid $Grayish-Blue;
        padding: 1rem;
          
        .question{
          display: flex;
         justify-content: space-between;
         align-items: center;
         p{
          color: $Very-Dark-Blue;
          cursor: pointer;
          transition: all .3s ease;
          &:hover{
            color: $Soft-Red;
           }
        }
         span{
         
          i{   
            color: $Soft-Blue;       
            font-size: 2rem;
          }
         }
         }
         .answer{
          display: none;
         }
         p{
          color: $Grayish-Blue;
         }
        }
      }
      .more__info{
        padding: .8rem 1rem;
            background: $Soft-Blue;
            display: inline-block;
            border-radius: .3rem;
            margin-top: 1rem;
            cursor: pointer;
            a{
              color: aliceblue;
            }
      }
    }
    .fifth__section{
      .color{
        padding: 4rem 1rem;
        margin-top: 5rem;
        display: grid;
        place-items: center;
        background-color: $Soft-Blue;
        .stay{
          text-align: center;
          color: white;
          p{
            text-transform: uppercase;
            letter-spacing: .3rem;         
          }
          h3{
            font-size: 2rem;
            margin-top: 1rem;
          }
        }
        form{
          display: grid;
          margin-top: 2rem;
          .email{
            width: 80vw;
            position: relative;
            .error-icon{
            position: absolute;
            right: 1rem;
            top: .8rem;
            color: $Soft-Red;
            display: none;
            }
            input{
              width: 100%;
              padding: 1rem;
              border: none;
              border-radius: .3rem;
              &:invalid~.error{
             display: block;
              }
              &:invalid{
                border-color: $Soft-Red;
               
              }
              &::placeholder{
                color: $Grayish-Blue;
              }
            }
            p{
              color: $Soft-Red;
              display: none;
            }
          }
          button{
            margin-top: 1.5rem;
            width: 100%;
              padding: 1rem;
              color: white;
              background-color: $Soft-Red;
              border: none;
              border-radius: .3rem;
              transition: all .3s ease;
              cursor: pointer;
              &:hover{
                border: 1px solid $Soft-Red;
                background-color: aliceblue;
                color: $Soft-Red;
              }
          }
        }
      }
    }
    footer{
      padding: 2rem;
      background: $Very-Dark-Blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .logo__ul{
        .logo{
          margin-bottom: 1rem;
        }
        ul{
          display: grid;
          place-items: center;
          gap: 1rem;
          cursor: pointer;
          a{
            color: white;
            transition: all .3s ease;
            &:hover{
              color: $Soft-Red;
            }
          }
        }
      }
    
      .icon{
        display: flex;
        cursor: pointer;
        margin-top: 1rem;
        transition: all .3s ease;
        gap: 2rem;
       i{
        color: white;
        font-size: 1.5rem;
        &:hover{
          color: $Soft-Red;
        }
       }
      }
    }
    .nav__item{
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      background-color: $Very-Dark-Blue;
      right: 0;
      left: 0;
      padding: 2rem;
      .lg{
        display: flex;
        justify-content: space-between;
        .close__nav{
          cursor: pointer;
          i{
            font-size: 1.8rem;
            color: white;
          }
        }
      }
      ul{
        li{
          margin-top: 2rem;
          text-align: center;
          padding:1.5rem;
          border-top: 1px solid white;
          &:last-child{
            cursor: pointer;
              border:2px solid white;
              padding: .8rem;
              border-radius: .5rem;
          }
          a{
            text-transform: uppercase;
            letter-spacing: 1px;
          font-size: 1.2rem;
            color: white;
           
          }
        }
      }
      .icon{
        margin-left: 11rem;
        display: flex;
        cursor: pointer;
        margin-top: 8rem;
        transition: all .3s ease;
        gap: 2rem;
       i{
        color: white;
        font-size: 1.5rem;
        &:hover{
          color: $Soft-Red;
        }
       }
      }
     }
  }



@media screen and (min-width:550px){
body{
  /*background-color: orchid;*/
  
  .container{
    width: 88%;
    margin: 2rem ;
  }
  .first__section{
    text-align: left;
    margin-top: 4rem;
   grid-template-columns: 1.2fr 1fr;
   gap: 3rem;
   .image__svg{
    .image{
      right: auto;
      width: 42vw;
    }
    .svg{
      position: absolute;
     width: fit-content;
      z-index: -10;
    }
   }
   .simple{
   margin-top: 3rem;
    right: 0;
 order: -1;
 .btn{
  div{
  padding: .8rem 1.5rem;
  }
 }
 h2{
  text-align: start;
 }
 p{
  text-align: start;

 }
   }
  }
  .second__section{
     .bottom{
      .heading{
        display: flex;
        justify-content: center;
        div{
          padding: 2rem 1.5rem;
          font-size: .9rem;
          &.active{
          &::after{
            left: 0;
           width: 100%;
          
          }  }
         &:first-child{
          border-top: none;
         }
        } 
      }
      .details:last-child{
        height: 60vh;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;

      }
      .details{
        height: 60vh;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
        .image__svg{
          .svg{
            left: -3rem;
          }
          .image{
            width: 40vw;
          }
        }
        .bookmark{
          position: absolute;
          right: 0;
          width: 40%;
          margin-top: 5rem;
          h2{
            text-align: start;
          }
          p{
            text-align: start;
          }
          .more__info{
            padding: .8rem 1rem;
            background: $Soft-Blue;
            display: inline-block;
            border-radius: .3rem;
            margin-top: 1rem;
            cursor: pointer;
            a{
              color: aliceblue;
            }
          }
        }
      }
    
     }
  }
    .download{
  width: 80%;
  margin: 3rem auto;
  }
  .third__section{
   .top{
  text-align: center;
   }
    .bottom{
      display: grid;
     grid-template-columns: repeat(3,1fr);
     .firefox{
   position: relative;
    top: 3rem;
     }
     .opera{
      position: relative;
      top: 6rem;
     }
    article{
      box-sizing: border-box;
      .bottom{
        border-top: 5px dotted $Grayish-Blue;
        width: 26vw;
        box-sizing: border-box;
        padding: 0 1rem 2rem;
        .add{
          padding: 1rem;
          display: flex;
          width: 22vw;
          text-align: center;
         cursor: pointer;
          a{
          font-size: .8rem;
          }
        }
      }
    }
}
}
.forth__section{
  margin-top: 30%;
  .top{
    p{
   margin-left: 10rem;
   width: 60%;
    }
  }
  .bottom{
    margin-top: 2rem;
    .faq{
      &:first-child{
        border-top: 1px solid $Grayish-Blue;
      }
    }
  }
}
.fifth__section{
  .color{
    .stay{
      h3{
        width: 40vw;
      }
    }
    form{
      display:flex ;
      width: 50vw;
      justify-content: center;
      gap: 2rem;
      button{
        margin-top: 0;  
         width: 60%;
      }
      .input{
        .email{
        width: 40vw;
        input{
          width: 30%;
        }
        }
      }
    }
  }
}
 footer{
justify-content: space-between;
  flex-direction: row;
  .logo__ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .logo{
  margin-bottom: 0;
  }
   ul{
   display: flex;
  }
  }
 }
 .nav__item{
  .icon{
    margin-left: 45%;
  }
 }
 
}
}

@media screen and (min-width:900px){
body{
  /*background-color: greenyellow;*/
  width: 100vw;
  box-sizing: border-box;
  .container{
    width: 84%;
    margin: 2rem auto;
  }
  nav{
   align-items: center;
    .nav__items{
      display: flex;
      align-items: center;
     gap: 2rem;
      position: relative;
      width: 35%;
      background-color: transparent;
      li{
        padding: 0;
        transition: all .3s ease;
        &:hover{
          &:last-child{
            background-color: transparent;
            border: 1px solid $Soft-Red;
          a{
            color: $Soft-Red;
          }
          }
          a{
            color: $Soft-Red;
          }
        }
        &:last-child{
        background-color: $Soft-Red;
        padding: .5rem 1.5rem;
        border-radius: .3rem;
        a{
         color: white;
        }
        }
        a{
          font-size:.8rem;
          color: black;
        }
      }
    }
    .open__nav{
      display: none;
    }
  }
  .first__section{
    grid-template-columns: 1fr 1fr;
    gap: 0;
    height: 55vh;
  .image__svg{
    .image{
      right: 2rem;
      width: 30vw;
      height:50vh;
    }
    .svg{
      right: -6.4rem;
    }
  }
  .simple{
    h2{
      font-size: 2.5rem;
    }
    p{
      width: 90%;
    }
    .btn{
  margin-bottom: 2rem;
      div{
        text-align: center;
        padding: .5rem 3rem ;
      }

    }
  }
  }
  .second__section{
    .bottom{
    .details{
      .image__svg{
        .image{
          width: 30vw;
        }
        .svg{
          left: -6.4rem;
        }
      }
    }
  }
  }
.third__section{
top{
width: 50%;
h2{
text-align: start;
}}
margin-left: 18%;
.bottom{
display: flex;
article{
 width: 20vw;
  .bottom{
 width: 20vw;
 .add{
 width:15vw;
}}}
}
}
.forth__section{
  margin-top: 20%;
  .top{
    p{
   margin-left: 10rem;
   width: 60%;
    }
  }
  
}

}}